/*
    FONTS
*/

@font-face {
    font-family: 'Super Mario 256';
    src: url('Font/SuperMario256.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rammetto One';
    src: url('Font/RammettoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




/*
    MAIN
*/

body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Rammetto One";
  overflow-x: hidden;
  max-width: 2560px;
}

.section_width {
  width: 80%;
}

h2 {
  font-family: "Super Mario 256";
  font-size: 2rem;
  line-height: 2rem;
  color: white;
  margin: 0;
  padding: 10vh 0;
}

.first_h2{
  font-size: 1.6rem;
  color: black;
}



/*
    BACKGROUNDS
*/

header {
    background: linear-gradient(to bottom, #10324e, #047b95);
    height: auto;
    width: 100%;
    position: relative;
}

.history_wrapper {
  background: linear-gradient(to bottom, #10324e, #bb1858);
  height: auto;
  width: 100%;
  position: relative;
}

.deck_wrapper {
  background: linear-gradient(to bottom, #01a198, #0f3852);
  height: auto;
  width: 100%;
  position: relative;
}

.social_media_wrapper {
  background: linear-gradient(to bottom, #5b298b, #1d1565);
  height: auto;
  width: 100%;
  position: relative;
}



/*
    SECTION GRADIENTS
*/

.degrade_to_bottom {
  position: absolute;
  top: 0;
  height: 5vh;
  width: 100%;
  background: linear-gradient(to bottom, white, rgba(0,0,0,0));
}

.degrade_to_top {
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: 100%;
  background: linear-gradient(to top, white, rgba(0,0,0,0));
}



/*
    HEADER
*/

.logo_section {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
    width: 30%;
    height: auto;
    padding: 5vh 0;
}

header p {
    font-family: "Rammetto One";
    color: white;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    padding-bottom: 10vh;
}


/*
    COUNTDOWN
*/

.countdown, .horloge {
  display: flex;
}

.countdown {
  width: 80%;
}

.countdown img {
    align-self: flex-start;
    width: 15%;
    height: auto;
}

.horloge{
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  text-align: center;
  font-size: 1.2rem;
}

.horloge span {
  font-size: 2.5rem;
  color: white;
}

.horloge p {
  margin: 0;
  color: black;
}


/*
    PERSONNAGES
*/

.personnages {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15vh;
}

.diskor p, .reine_sadida p {
    position: relative;
    font-family: "Super Mario 256";
    font-size: 2rem;
    color: white;
}

.diskor p {
  left: 12%;
}

.reine_sadida p {
  left: 7%;
}

.reine_sadida, .diskor {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.reine_sadida img, .diskor img {
  width: 100%;
  height: auto;
}



/*
    NEWSLETTER
 */

.newsletter {
  height: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inscription {
  position: absolute;
  top: 33%;
  left: 0;
}

.newsletter img {
    width: 100%;
    height: auto;
}

.newsletter p {
  color: black;
  font-family: "Super Mario 256";
  font-size: 2rem;
}

.newsletter form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2b2759;
  padding: 10px 7px;
  border-radius: 5px;
}

.newsletter form input:first-child {
  flex-grow: 4;
  height: 5vh;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

.newsletter form input:last-child {
  flex-grow: 1;
  color: white;
  font-family: "Super Mario 256";
  font-size: 1.3rem;
  background-color: #2b2759;
  border: none;
  }




/*
    HISTORY
 */

.history {
  display:flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.history div:first-child {
  align-self: flex-end;
}

.history div:last-child {
  align-self: flex-start;
}

.history_text {
  position: relative;
  /* convertir padding en unité responsive */
  padding: 100px 50px;
}

.history_text p {
  font-size: 1rem;
  color: black;
  font-family: "Rammetto One";
}

.history_text p:first-child {
  font-size: 2rem;
  color: white;
  font-family: "Super Mario 256"
}

.history_text img {
  width: 80%;
  height: auto;
}

.story_text {
  position: absolute;
  top: 35%;
  left: 20%;
  width: 50%;
  color: black;
}

.planete_left {
  width: 20%;
  height: auto;
  align-self: flex-end;
}

.planete_right {
  width: 20%;
  height: auto;
  align-self: flex-start;
}



/*
    DECK
*/

.deck {
  margin: auto;
  text-align: center;
  padding: 10vh 0;
}

.carrousel_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10vh;
}

.deck img {
  width: 25%;
  height: auto;
  padding: 5px;
}

.deck_1, .deck_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.carrousel_boutons {
  width: 100%;
  padding: 30px 10px;
}

.carrousel_boutons img {
  width: 5%;
  height: auto;
}



/*
    SOCIAL
*/

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10vh 0;
  margin: auto;
  text-align: center;
}

.social img {
  width: 13%;
  height: auto;
}

.social_logos {
  width: 30%;
  height: auto;
  padding: 5px;
}



/*
    FOOTER
*/

footer {
  width: 100%;
  background-color: black;
  color: white;
  height: 25vh;
  font-size: 0.6rem;
  text-align: center;
  padding: 10px 0;
}

.footer_content {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_content img {
  padding: 10px;
}

.footer_content p {
  margin: 0;
  align-self: flex-end;
}

.back_to_top a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
}

.back_to_top img {
  width: 20%;
  height: auto;
}



/*
    RESPONSIVE:

    MEDIA QUERIES
*/

@media (max-width: 1280px) {

  h2 {
    padding: 5vh 0;
  }

  .inscription {
    top: 21%;
  }

  .newsletter form input:last-child {
    font-size: 1rem;
    }

  .history_text img {
    width: 90%;
  }

  .history_text p {
    font-size: 0.8rem;
  }

  .story_text {
    top: 40%;
    left: 21%;
  }

}


@media (max-width: 1170px) {

  .first_h2{
    font-size: 1.1rem;
    color: black;
    padding: 1vh 0;
  }

  .section_width {
    width: 95%;
  }

  .newsletter p {
    font-size: 1.5rem;
  }

  .newsletter form {
    flex-direction: column;
  }

  .newsletter form input:first-child {
    width: 90%;
    margin-bottom: 10px;
  }

  .history_text p {
    line-height: 1rem;
    font-size: 0.7rem;
  }

  .story_text {
    top: 44%;
    left: 21%;
  }
}


@media (max-width: 980px) {
  .inscription {
    top: 23%;
  }

  .history_text {
    padding: 22vh 0;
  }

  .history_text img {
    width: 100%;
  }

  .story_text {
    top: 48%;
    left: 13%;
    width: 65%;
  }

  .social img {
    width: 25%;
  }
}


@media (max-width: 750px) {

  h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 3vh 0;
  }

  .first_h2{
    font-size: 1.1rem;
    color: black;
    padding: 2vh 0;
  }

  .horloge p {
    font-size: 1rem;
  }

  .horloge span {
    font-size: 2rem;
  }

  .newsletter form {
    flex-direction: row;
    padding: 15px 10px 5px 10px;
  }

  /* PERSONNAGES */

  .personnages {
    flex-wrap: wrap;
    margin: 0;
   }

   .inscription {
     width: 80%;
     position: initial;
     left: auto;
   }

  .newsletter {
    order: 1;
    left: auto;
    flex-grow: 1;
    width: 100%;
    padding: 10vh 0;
  }

  .reine_sadida {
    width: 50%;
    order: 2;
    flex-grow: 2;
    align-self: flex-end;
  }

  .diskor {
    width: 50%;
    order: 3;
    flex-grow: 2;
    align-self: flex-end;
  }

  .diskor p, .reine_sadida p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .newsletter img {
    display: none;
  }

  .newsletter form {
    width: 90%;
    margin: auto;
  }

  .history_text img {
    display: none;
  }

  .story_text {
    position: initial;
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }

  .planete_left, .planete_right {
    width: 23%;
  }

  /* DECKS */

  .carrousel_section {
    flex-direction: column;
  }

}

@media (max-width: 480px) {
  /* general */
  .title, .history_text p:first-child, .social p {
    font-size: 1rem;
  }


  /* header */
  .logo {
    width: 54%;
    padding-top: 5vh;
  }

  header p {
    font-size: 0.9rem;
    padding-bottom: 4vh;
  }

  .countdown {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .countdown img {
    margin: auto;
    width: 43%;
  }

  .horloge {
    display: none;
  }



  /* HISTORY */

  .history {
    flex-direction: column;
  }

  .planete_right {
    order: 1;
    align-self: flex-end;
    width: 35%;
  }

  .history_text {
    order: 2;
  }

  .planete_left {
    order: 3;
    align-self: flex-start;
    width: 35%;
  }

  .history_text {
    padding: 50px;
  }

  .history_text img {
    display: none;
  }

  .story_text {
    position: initial;
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }

  .back_to_top, .client_logo {
    align-self: flex-start;
  }

  .client_logo img {
    width: 60%;
  }

  footer p {
    font-size: 0.3rem;
  }



  .diskor p, .reine_sadida p {
      display: none;
    }



}
